/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Rubik", sans-serif;
}
html {
  font-size: 10px;
}
body{
  position: relative;
  height: 200vh;
}
/* color
    primary color: #e67e22;
    secondary color: #fdf2e9;
    header and nav-bar color: #333333;
    paragraph color: #555;
*/
/* Common selector color */
h1,
h2,
h3,
h4,
a {
  color: #333333;
}
p {
  color: #555;
}
/* Style for Navigation */
.header {
  background-color: #fdf2e9;
  padding: 2.8rem 4.6rem;
  padding-right: 6rem;
}
.sticky {
  position: sticky;
  top: 0;
}
.header .brand img {
  height: 100%;
  width: 16.5rem;
}
.header .brand {
  margin-right: auto;
}
.sticky,
.nav_bar ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header .nav_bar ul {
  column-gap: 4.2rem;
}
.header .nav_bar ul li {
  list-style: none;
  padding: 1rem 0;
}
.header .nav_bar ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 200ms ease-in;
}

.header .nav_bar ul li:last-child a {
  background-color: #e67e22;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.header .nav_bar ul li a:hover{
    color:#e67e22;
}

.header .nav_bar ul li:last-child a:hover{
  color: #fff;
  background-color: #ea9347;
} 

.icon {
  height: 36px;
  width: 36px;
  stroke: #333333;
  cursor: pointer;
  display: none;
}

/* Style for Hero section */
.section-hero {
  background-color: #fdf2e9;
  padding-top: 1.8rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 9.6rem;
  padding: 3.2rem;
  margin: 0 3.2rem;
}

.hero .hero-textbox .heading-primary{
  font-size: 4.4rem;
  font-weight: 700;
  text-align: left;
}

.hero .hero-textbox .hero-description {
  font-size: 2rem;
  text-align: left;
  margin: 3.2rem 0;
  line-height:3.2rem;
}

.hero-btns {
  margin-top: 6.4rem;
}
.hero .hero-btns a {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;

  margin-right: 1.6rem;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
}

.hero-btns .btn-primary {
  color: #fff;
  background-color: #e67e22;
}

.hero-btns .btn-secondary {
  color:#555;
  background-color: #fff;
}

.hero-btns .arrow_icon {
  height: 2rem;
}

.meals {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  margin-top: 8rem;
}
.meals .customers img {
  height: 4rem;
  border-radius: 50%;
  margin-left: -1.6rem;
}
.meals .customers img:first-child{
  margin-left: 0;
}

.hero-textbox .meals p {
  font-size: 1.8rem;
  font-weight: 600;
  max-width: 25rem;
}

.hero-textbox .meals .primary {
  color: #e67e22;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero .hero-img img{
  height: 50.5rem;

}

/*  */

/* media query for medium device */
@media screen and (max-width: 768px) {
    .nav_bar ul {
      background-color: #fdf2e9a5;
      min-height: 91vh;
      display: none;
      position: fixed;
      top: 0;
      right:0;
      margin-top: 6.8rem;
      padding: 1.8rem 3.2rem;
      z-index: 0;
      opacity: .95;
      text-align: center;
      
  }
  .header .nav_bar ul li {
    padding: .7rem 0;
  }
  .header .nav_bar ul li:last-child{
    margin-top: 1.2rem;
  }
  .icon {
    display: block;
  }

  #open {
    /* right: 0; */
    display: block;
  }

}
/* @media screen and (max-width: 768px) {
  .header {
    position: relative;
    background-color: #fff;
  }
  .header .brand,
  .icon {
    opacity: 0;
  }
  .nav_bar ul {
    text-align: center;
    display: block;
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translate(50%, 30%);
  }
  .header .nav_bar ul li a {
    display: block;
    font-size: 2.4rem;
    margin: 0.4rem 0;
  }
  .icon {
    display: block;
  }
} */

@media screen and (min-width: 767px) and (max-width: 992px) {
  .header .nav_bar ul {
    column-gap: 2.6rem;
  }
}
